.home-message {
    width: 100vw;
    height: calc(100vh - 200px);
    background-color: rgb(245, 229, 229);
    & h2 {
        margin: 0;
        color: white;
        letter-spacing: 15px;
        text-align: center;
        padding-top: 75px;
    }
    & p {
        color: white;
        text-align: center;
        padding: 30px 300px;
        line-height: 30px;
        font-size: 20px;
        letter-spacing: 1px;
    }
    .home-message-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        & a {
            padding: 25px;
            color: white;
            cursor: pointer;
            background-color: rgb(228, 145, 200);
            border-radius: 10px;
            &:hover {
                background-color: rgb(187, 99, 158);
            }
        }
        img {}
    }
}